@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

:root {
  --orange: #fc8a47;
  --lightGray: #828282;
}
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}
*::selection {
  background: var(--orange);
  color: #fff;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

/* ------------------Hero section start---------------- */
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80vh;
  padding: 0rem 8rem;
}

.hero-content span {
  color: var(--orange);
}
.hero-content h1 {
  color: #575757;
  font-size: 5rem;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.hero-content p {
  font-size: 2rem;
  color: var(--lightGray, #828282);
  margin: 2rem 0;
}
.hero-content button {
  background-image: linear-gradient(45deg, #ff1e1e, #fba24f);
  border-radius: 2rem;
  padding: 1rem 2.5rem;
  color: white;
}

/* @media (max-width: 450px) {
  .hero-content {
    display: block;
  }
  .hero-image {
    display: block;
  }
} */

/*---------------------------- About me section start----------------- */
.about-section {
  background-image: url(./images/7.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.about-content h1 {
  color: #707070;
  font-size: 2.5rem;
}
.about-content p {
  width: 60rem;
  margin: 5rem 0;
  font-size: 2rem;
  color: var(--lightGray);
}
.about-content button {
  background-image: linear-gradient(45deg, #ff1e1e, #fba24f);
  border-radius: 2rem;
  padding: 1rem 2.5rem;
  color: white;
}

/* -----------------------Recipi section Start--------------------- */
.my-recipi {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 3rem 2rem;
}
.my-recipi h1 {
  margin: 2rem 0;
  color: #575757;
}
.my-recipi p {
  font-size: 2rem;
  color: var(--lightGray);
}
